TZ=Australia/Sydney

# Pi-hole
PIHOLE_PASSWORD=SecurePiHole2026

# n8n
N8N_USER=ryank
N8N_PASSWORD=<qTuM2|:K*]B73D6

# DNS
UPSTREAM_DNS=8.8.8.8

# NanoBot
NANOBOT_API_KEY=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
